<% include ../src/partials/header.ejs %>
      <div class="bg-light py-5">
        <div class="container py-5">

        <div class="row mb-4">
            <div class="col-lg-7">
                <h2 class="display-4 font-weight-light" style="color: #736D5C;">Our Product</h2>
                <p style="color: #B3AA8F;">Our product is a framework for users to evaluate sets of financial data. Our application uses machine learning to predict the future stock value of publicly traded companies. We trained a recurrent neural network on the past quarterly reports of these companies.</p>
            </div>
        </div>
            
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light" style="color: #736D5C;">Our Team</h2>
            </div>
          </div>
      
          <div class="row text-center">

            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0" style="color: #B3AA8F;">Rajat Ahuja</h5><span class="small text-uppercase text-muted">Software Engineer</span>
              </div>
            </div>
      
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0" style="color: #B3AA8F;">Casey Hu</h5><span class="small text-uppercase text-muted">Data Scientist</span>
              </div>
            </div>
      
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0" style="color: #B3AA8F;">Joon Lee</h5><span class="small text-uppercase text-muted">Data Scientist</span>
              </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0" style="color: #B3AA8F;">Aaron North</h5><span class="small text-uppercase text-muted">Product Manager</span>
              </div>
            </div>
      
          </div>
        </div>
      </div>
<% include ../src/partials/footer.ejs %>
