<% include ../src/partials/header.ejs %>
<style type="text/css">
    div.test1
    {
    border-radius: 25px;
    border: 2px solid #94b0d0;
    padding: 20px; 
    width: 800px;
    height: 150px;  
    }
    div.test2
    {
    border-radius: 25px;
    border: 2px solid #ae5858;
    padding: 20px; 
    width: 800px;
    height: 150px;  
    }
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 style="text-align: center">About The Project</h1>
            <p>Insert project info here</p>
        </div>        
        <div class="col-md-6 offset-md-3">
            <h1 style="text-align: center">About Us</h1>
        </div>
        <div class="col-md-6 offset-md-2">
            <div class="test1">
                <p><b>Rajat Ahuja</b></p>
            </div>
            <br>
            <div class="test2">
                <p><b>Casey Hu</b></p>
            </div> 
            <br>
            <div class="test1">
                <p><b>Joon Lee</b></p>
            </div>  
            <br>  
            <div class="test2">
                <p><b>Aaron North</b></p>
            </div>   
        </div> 
       
            
        </div>
    </div>
</div>
</body>
</html>