<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
                <h1 style="text-align: center">EDGAR</h1>
                <p style="text-align: center">Insert EDGAR info here</p>
        </div>
    </div>
</div>
</body>
</html>