<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h1 style="text-align: center">About Edgar</h1>
            <br> 
            <br>
        </div>
    </div>
</div>
<% include ../src/partials/footer.ejs %>
