<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h1 style="text-align: center; color: #736D5C;">Stock Trend Predictor</h1>
            <h4 style="text-align: center; color: #B3AA8F;">Machine Learning for Prediction and Analysis of Public Financial Data</h3>
            <br> 
            <br>
            <div class="text-center">
                <form method="post" enctype="multipart/form-data" action='/'>
                    <br>
                    <input type="text" name="name" placeholder="Company name">
                    <br><br>
                    <button href="/" class="btn btn-dark btn-md my-0" type="submit">Predict</button>
                </form> 
                <br>
                <%= stockPrice %>
            </div>
        </div>
    </div>
</div>
<% include ../src/partials/footer.ejs %>
