<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h1 style="text-align: center">Website Title</h1>
            <h3 style="text-align: center">Insert tagline here</h3>
            <br>
            <br>
            <div class="active-cyan-3 active-cyan-4 mb-4">
                <input class="form-control" type="text" placeholder="Type a company name" aria-label="Search">
            </div>
            <div class="text-center">
                <button type="button" onclick="location.href='/upload'" class="btn btn-info">Upload a new company</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>