<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <h1 style="text-align: center">Website Title</h1>
            <h3 style="text-align: center">Insert tagline here</h3>
            <br>
            <br>
            <div class="text-center">
                <div class="active-cyan-3 active-cyan-4 mb-4">
                    <select id="volume">
                        <option disabled selected="true">Select a company name</option>
                        <%for (var i = 0; i < myData.length; i++) { %>
                        <option><%=myData[i] %></option>
                       <% } %>
                    </select>
                </div>            
                <button type="button" onclick="location.href='/upload'" class="btn btn-info">Upload a new company</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>