<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Upload a file here</h1>
            <button>Click here for info on our CSV upload</button>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="filename">
                <input type="submit" value="upload">
            </form>
        </div>
    </div>
</div>
</body>
</html>