<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
         <div class="col-md-12">
                <br>
                <br>
                <br>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center">Upload Tutorial</h5>
                            <h6>Before uploading data:</h6>
                            <ol style="text-align: left">
                                <li>Check to see if company data is already uploaded</li>
                                <li>Format the CSV according to our standards</li>
                                <li></li>
                                <li></li>
                            </ol>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center">Upload a file here</h5>
                            <br>
                            <br>
                            <form method="post" enctype="multipart/form-data" action='/upload'>
                                <input type="file" name="filename">
                                <br>
                                <br>
                                <button href="/upload" class="btn btn-primary btn-md my-0" type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center">Currently uploaded companies</h5>
                            <ul>
                                <%for (var i = 0; i < myData.length; i++) { %>
                                    <li><%=myData[i] %></li>
                                <% } %>            
                            </ul>
                        </div>
                    </div>
                </div>
                      
        </div> 
    </div>
</div>
<% include ../src/partials/footer.ejs %>
