<% include ../src/partials/header.ejs %>
<div class="container">
    <div class="row">
         <div class="col-md-12">
                <br>
                <h1 style="text-align: center; color: #736D5C;">Uploading Data</h1>
                <br>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; color: #736D5C;">Upload Tutorial</h5>
                            <h6 style="color: #B3AA8F;">Steps to upload data:</h6>
                            <ol style="text-align: left; color: #B3AA8F;">
                                <li>Format the CSV according to our standards</li>
                                <li>Choose file from your computer's  directory</li>
                                <li>Upload file</li>
                            </ol>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; color: #736D5C;">Upload a file here</h5>
                            <br>
                            <br>
                            <form method="post" enctype="multipart/form-data" action='/upload'>
                                <input type="file" name="filename">
                                <br>
                                <br>
                                <button href="/upload" class="btn btn-dark btn-md my-0" type="submit">Upload</button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; color: #736D5C;">Currently uploaded companies</h5>
                            <ul style="color: #B3AA8F;">
                            </ul>
                        </div>
                    </div>
                </div>
                      
        </div> 
    </div>
</div>
<% include ../src/partials/footer.ejs %>
